
main {
  width: calc(100% - 200px);
  /* 160px = 상단 TopNavigation height + Footer height + main의 margin-top + margin-bottom 값 */
  min-height: calc(100vh - 160px);
  margin: 20px 100px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* 좌상단 메뉴 리스트 영역 */
.menu_wrap  {
  margin-bottom: 24px;
}

.menu_list {
    width: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid #e9e9e9;
    
    overflow: hidden;
}

.menu_list > li {
    width: calc( 100% - 24px);
    padding: 12px;
    cursor: pointer;
   
    font-size: 16px;
    font-weight: 200;
}

.menu_list a{
    text-decoration: none;
    color: #000;
}
.menu_list > li:hover, 
.menu_list > li.active, 
.menu_list > li.active a,
.menu_list > li:hover.active a{
    background: #007bff;
    color: #ffffff;
}

.menu_list > li:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.content_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* 좌측 차트 영역 */
.left_chart_wrap {
    width: calc(100% - 40px);
    margin-right: 20px;
    
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
}

.left_chart_wrap > h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;

  margin-bottom: 12px;
}

/* 차트 크기 = 부모 크기 상속 */
#leftGridChart {
    width: 100% !important;
}

/* 우측 영역 */
.content_right_wrap {
    min-width: 720px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* 우측 상단 코드 리스트 영역 */
.right_content_wrap {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-bottom: 32px;
}

/* 우측 상단 코드 리스트 */
.code_wrap { 
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid #e9e9e9;
    
    overflow: hidden;
}

.code_wrap:first-child{
    margin-right: 12Px;
}

.code_wrap > li {
    width: calc(100% - 24px);
    padding: 12px;
    cursor: pointer;

    font-size: 12px;
    font-weight: 800;
}

.code_wrap > li:hover:not(.code_wrap_header) {
    background: #fff3cc;
}

.code_wrap > li:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
}

.code_wrap .code_wrap_header{
    font-weight: 200;
}

.code_wrap .selected {
    background: #fff3cc;
}

/* 우측 하단 차트 영역 */
.right_chart_wrap > canvas {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
}

.right_chart_wrap {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
}

.right_chart_wrap .chart_header {
    padding: 12px;
    text-align: center;
    background: red;
}

.right_chart_wrap .chart_header {
    color: #ffffff;
}